# Service Config
SERVER_PORT=8080
SERVER_MODE=dev

# Database Config
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=renice
# change this password
DATABASE_PASSWORD=renice_change_me
DATABASE_DBNAME=renice_sl
DATABASE_SSLMODE=false

# Redis Config
REDIS_HOST=redis
REDIS_PORT=6379
# change this password
REDIS_PASSWORD=renice_change_me
REDIS_DB=0
REDIS_POOL_SIZE=20

# NATS Config
NATS_HOST=NATS

# JWT Config
JWT_ACCESS_SECRET=your-access-secret-at-least-32-chars
JWT_REFRESH_SECRET=your-refresh-secret-at-least-32-chars
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=168h