apiVersion: v1
kind: Secret
metadata:
  name: renice-sl-secret
  namespace: renice-sl
  annotations:
    argocd.argoproj.io/sync-wave: "-4"
type: Opaque
stringData:
  DATABASE_USER: "renice"
  DATABASE_PASSWORD: "renice-change-me"
  DATABASE_DBNAME: "renice_sl"
  REDIS_PASSWORD: "renice-change-me"
  REDIS_DB: "0"
  JWT_ACCESS_SECRET: "renice-change-me"
  JWT_REFRESH_SECRET: "renice-change-me"
  SAFETYBROWSING_API_KEY: ""
